.normal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000000}
a:active {  font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}
a:hover { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #9C0000 }
a:link { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #004466}
a:visited { font-family: "Comic Sans MS", Verdana, Arial, Helvetica, sans-serif; font-size: 9pt}
