.main-content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	text-align: justify;
	font-style: normal;
    width: 500px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.footer {
    margin-left: 175px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo {
    margin-left: 60px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.lower-line {
    height: 25px;
    width: 100%;
    background-color: #FFCC00;
    text-transform: uppercase;
	font-family: Arial;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #006BB3;
}

.title {
    display: inline-block;
    vertical-align: middle;
    font-size: 10pt;
    margin-top: 4px;
    margin-left: 63px;
}

hr.section-break {
    border-top: dashed 1px #B2B2B2;
}

hr.footer {
    border-top: solid 2px #3399CC;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #666666;
	font-weight: normal;
	text-align: left;
	text-decoration: none
}

.barttl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	font-style: normal
}

.red {
    color: #CC0000;
}

body {
    margin: 0;
}
